footer {
  height: 100px;
}
.App {
  text-align: center;
}

body {
  font-family: "PoiretOne";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dfd5c0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
  margin: 50px 0;
  font-family: "AmaticSC";
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
  font-family: "PoiretOne";
  color: #dfd5c0;
}

.main-header > h1 {
  font-weight: 400;
  font-size: 60px;
}

.main-header > h2 {
  font-size: 30px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 50px 0;
  font-family: "AmaticSC";
  text-align: center;
  color: #dfd5c0;
}
.form-header,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: #dfd5c0;
  font-family: "AmaticSC";
}

.form-label {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: "PoiretOne";
}

.parallax-header {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "PoiretOne";
  display: flex;
  justify-content: center;
}
.parallax-container {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-family: "PoiretOne";
}

.parallax-text {
  margin: 20px;
}

.parallax {
  background-attachment: fixed;
  background-image: url("/public/background.jpg");
  background-size: cover;
  height: auto; /* Set the height of the section */
  padding: 50px 20px;
  border-radius: 5px;
}

/* Adjust the position of the image when the user scrolls */
.parallax::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(50%);
  z-index: -1;
}

.btn-outline-warning {
  --bs-btn-color: #dfd5c0 !important;
  --bs-btn-border-color: #dfd5c0 !important;
}
.btn-outline-warning:hover {
  --bs-btn-hover-bg: #dfd5c0 !important;
  --bs-btn-border-color: #dfd5c0 !important;
  --bs-btn-border-color: #dfd5c0 !important;
  --bs-btn-hover-bg: #dfd5c0 !important;
  --bs-btn-hover-border-color: #dfd5c0 !important;
}
.form-control {
  color: #dfd5c0 !important;
  background-color: #1d3034 !important;
  border: 1px solid #dfd5c0 !important;
}

.form-select {
  border: 1px solid #dfd5c0 !important;
  color: #dfd5c0 !important;
  background-color: #1d3034 !important;
}

.form-select:not(:first-of-type) {
  color: #dfd5c0 !important;
}

.main-container {
  padding: 0 !important;
}

th {
  color: #dfd5c0;
}

.carousel-inner {
  border-radius: 5px !important;
}

.table-text {
  color: "white" !important;
  font-family: "PoiretOne" !important;
}
.comment-container {
  padding: 10px 0;
  border-radius: 5px;
}
.comment-bubble {
  background-color: rgb(223, 213, 192, 0.6);
  border-radius: 10px;
  padding: 5px 15px;
  margin: 10px auto;
}

.comment-author {
  font-family: "AmaticSC";
    color: #1d3034;
    font-size: 25px;
}

.comment-text {
  font-family: "PoiretOne";
  color: #1d3034;
  font-size: 20px;
}
