@font-face {
  font-family: 'MarckScript';
  src: local('MarckScript'), url(./../public/fonts/MarckScript-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PoiretOne';
  src: local('PoiretOne'), url(./../public/fonts/PoiretOne-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
  font-family:"PoiretOne", Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  --bs-btn-border-width: 2px !important;
}
